/* src/components/InfoTooltip.css */

.popup_type_infoTooltip {
  position: absolute;
  top: 195px;
  left: 425px;
  width: 430px;
  height: 330px;
  background: #fff;
  border-radius: 8px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__container {
  /*  position: relative;*/
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.popup__close {
  position: absolute;
  top: -40px; /* sobe para ficar acima do modal */
  right: -40px; /* desloca para fora do lado direito */
  background: none;
  border: none;
  cursor: pointer;
}

.popup__close img {
  width: 24px;
  height: 24px;
}

.popup__status_success {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.popup__status_error {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.popup__message {
  margin-top: 40px;
  font-size: 24px;
  color: #000;
  font-weight: 900;
}

.popup__status-icon {
  margin-top: 50px;
}
