.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* ou center se quiser no meio */
  margin-top: 40px;
  /*  margin: 0;*/
  padding: 40px 0; /* em vez de margin-top negativo */
  color: #fff;
}

.login__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 40px 0; /* remove o margin-top negativo */
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.login__field {
  position: relative;
  margin-bottom: 20px;
}

.login__input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.login__input::placeholder {
  color: #aaa;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-20px); /* sobe o texto para parecer label */
}

.login__button {
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 100px;
  transition: background 0.2s ease;
}

.login__button:hover {
  background: #e6e6e6;
}

.login__text {
  font-size: 14px;
  margin-top: 20px;
}

.login__link {
  color: #fff;
  text-decoration: underline;
  margin-left: 5px;
  cursor: pointer;
}

@media screen and (max-width: 320px) and (max-height: 2814px) {
  .login {
    max-width: 320px; /* força a página a ter exatamente a altura da tela */
    overflow: hidden;
    padding: 20px 0; /* controla distância do topo */
  }

  .login__form {
    width: 90%;
    margin-top: 0;
    padding-top: 0;
  }

  .login__title {
    font-size: 16px;
    margin: 0 0 20px 0;
  }

  .login__input {
    font-size: 13px;
    padding: 8px;
  }

  .login__button {
    font-size: 13px;
    padding: 10px;
    margin-top: 150px;
  }

  .login__text {
    font-size: 12px;
    margin-top: 15px;
  }
}
